**/*.pyc
**/__pycache__
.ipynb_checkpoints

data/**
!data/README.md
!data/download_moad.sh
!data/download_moad_little.sh

.DS_Store

wandb
docs/_build
.vscode
.tmp*
.save

data/moad
cache.json
cache_little.json

Singularity.def
Singularity.sif
.fuse_hidden*

.cur_app*

__pycache__
*.pyc

projects/checkpoints/**
projects/data/**
!projects/data/helpers
!projects/data/helpers/*

*.old
old

tmp.zip
tmp/
tmp_sync_pf.sh

apps/deepfrag/collagen

paths.sh

tests/env.sh
tests/data_to_finetune/*.pdb
tests/data_to_finetune/*.sdf
tests/?.OUT*
tests/*.output

**/lightning_logs
**/lightning_logs/**

tmp_working_dir/
tests/core.*

old*
.idea

misc_scripts/output/
misc_scripts

TODO.md

in-house_models
*_noh.pkl
*_fps.bin

*.cache.json
