**/*.pyc
**/__pycache__
.ipynb_checkpoints

data/**
!data/README.md

.DS_Store

wandb
docs/_build
.vscode
.tmp*
.save

moad
cache.json
cache_little.json

Singularity.def
Singularity.sif
.fuse_hidden*
